In [5]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('Chinook_Sqlite.sqlite')
df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(df)
conn.close()

             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

In [6]:
df = pd.read_sql("SELECT * FROM Customer LIMIT 5;", conn)
print(df)
conn.close()

ProgrammingError: Cannot operate on a closed database.